[submodule "test-drive"]
	path = external/test-drive
	url = https://github.com/fortran-lang/test-drive.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
